.top-content{
    height:60px;
    border-bottom: 1px solid rgb(218, 218, 218);
    width: 1000px;
    margin:auto;
    color: rgb(75, 75, 75);
}


.top-content h2{
    width: 300px;
    float:left;

}

body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

input[type=submit], input[type=button]{
    float:right;
    width:100px;
    height:30px;
    margin-top: 15px;
    background:rgb(71, 132, 212);
    color:white;
    border:none;
    cursor:pointer;
}

input[type=submit]:hover{
    background:rgb(110, 168, 243);
}


input[type=text]{
    width:180px;
    height:25px;
    padding-left:5px;
    float:right;
    color:rgb(56, 56, 56);
}

select{
    width:188px;
    height:30px;
    float:right;
    color:rgb(56, 56, 56);
}

.content{
    width:1000px;
    margin:auto;
    padding-top: 20px;
}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
    text-align: left;
}

ul li{
    text-align: left;
    margin-bottom:15px;
    width: 260px;
    font-size:16px;
    font-family: sans-serif;
    line-height:30px;
    color:rgb(80, 80, 80);
}

.message{
    display:block;
    font-family: sans-serif;
    font-size:13px;
    margin-top:20px;
}

#top-message{

    display:none;
    padding:20px;
    font-size: 14px;
    font-family: sans-serif;
    margin-top:5px;
    margin-bottom:20px;
    text-align:left;
    color:#fff;
}

.item-container{
    width:240px;
    height:150px;
    display:inline-block;
    margin:3px;
    cursor:pointer;
    padding-top:15px;
    border:1px solid rgb(201, 201, 201);
}

.item-container:hover{
    box-shadow: 0px 0px 4px 1px rgb(179, 179, 179);
}

.itemCheckbox{
    position:absolute;
    margin:10px;
    margin-top:-5px;
    pointer-events: none;
}

.error{
    background-color: rgb(202, 51, 51);
}

.success{
    background-color: rgb(25, 172, 69);
}

.itemDetailsText{
    display:block;
    text-align:center;
    height:35px;
    width:100%;
    font-size:14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height:35px;
    color:rgb(61, 61, 61);
    
}

header{
    width:100%;
    height:60px;
    background:rgb(53, 53, 53);
}

header div a{
    color:#fff;
    font-size: 15px;
    font-family: sans-serif;
    margin-right:20px;
    text-decoration:none;
}

header div a:hover{
    text-decoration:underline;
}

.noItemsText{
    font-family: sans-serif;
    font-size: 15px;
    color:rgb(105, 105, 105);
}


