Height <input type="text" name="height" /> <br />
<div style="height:15px;"> </div>
Width <input type="text" name="width" /> <br />
<div style="height:15px;"> </div>
Length <input type="text" name="length" /> 

<span class="message"> Please provide Height, Width and Length in Centimeters. </span>